@model SAcademy.Models.Header

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" id="EditHeader-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Header</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Image 1</label>
                <input type="file" name="Background" class="form-control" id="bgInput" accept="image/*" />
                <span asp-validation-for="Background" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image 2</label>
                <input type="file" name="files" class="form-control" multiple />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image 3</label>
                <input type="file" name="BackgroundTwo" class="form-control " />
                <span asp-validation-for="BackgroundTwo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Content 1</label>
                <textarea asp-for="Content" class="form-control ContentH"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Content 2</label>
                <textarea asp-for="ContentTwo" class="form-control ContentH"></textarea>
                <span asp-validation-for="ContentTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Content 3</label>
                <textarea asp-for="ContentThree" class="form-control ContentH"></textarea>
                <span asp-validation-for="ContentThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Background Color 2</label>
                <input type="color" asp-for="BgContent" class="form-control" />
                <span asp-validation-for="BgContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Background Color 3</label>
                <input type="color" asp-for="BgContentTwo" class="form-control" />
                <span asp-validation-for="BgContentTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Button" class="control-label"></label>
                <input asp-for="Button" class="form-control" />
                <span asp-validation-for="Button" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="ButtonLink" class="control-label"></label>
                    <input asp-for="ButtonLink" class="form-control" />
                    <span asp-validation-for="ButtonLink" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="ButtonTwo" class="control-label"></label>
                <input asp-for="ButtonTwo" class="form-control" />
                <span asp-validation-for="ButtonTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ButtonTwoLink" class="control-label"></label>
                <input asp-for="ButtonTwoLink" class="form-control" />
                <span asp-validation-for="ButtonTwoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ButtonThree" class="control-label"></label>
                <input asp-for="ButtonThree" class="form-control" />
                <span asp-validation-for="ButtonThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ButtonThreeLink" class="control-label"></label>
                <input asp-for="ButtonThreeLink" class="form-control" />
                <span asp-validation-for="ButtonThreeLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightSection" class="control-label"></label>
                <input asp-for="HeightSection" class="form-control" />
                <span asp-validation-for="HeightSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Button Video vertical</label>
                <input asp-for="BVTopSize" class="form-control" />
                <span asp-validation-for="BVTopSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Button Video horizontale</label>
                <input asp-for="BVLeftSize" class="form-control" />
                <span asp-validation-for="BVLeftSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Button Color</label>
                <input type="color" asp-for="BVColor" class="form-control" />
                <span asp-validation-for="BVColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BVSize" class="control-label"></label>
                <input asp-for="BVSize" class="form-control" />
                <span asp-validation-for="BVSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ButtonBgColor" class="control-label"></label>
                <input type="color" asp-for="ButtonBgColor" class="form-control" />
                <span asp-validation-for="ButtonBgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="float-right text-white pr-2 pl-2" title="Save" style="border-radius:25px; background:black;">
                    <img src="~/img/save.png" style="width:1.3em;">
                    Save
                </button>
            </div>
        </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(".ContentH").summernote({
        placeholder: "Content ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontSizes: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '14', '18', '24', '36', '48', '64', '82', '150'],
        fontSizeUnits: ['px', 'pt', 'em', '%', 'vw'],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito', 'Nunito Black'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['font', ['fontname', 'fontsize', 'fontsizeunit']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ['fontname', ['fontname']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });

    


</script>