@model SAcademy.Models.Header

@{
    Layout = "_LayoutDashboard";
}
<h1>Create</h1>

<h4>Header</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Background" class="control-label"></label>
                <input type="file" asp-for="Background" class="form-control" />
                <span asp-validation-for="Background" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input type="file" name="files" class="form-control" multiple />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Button" class="control-label"></label>
                <input asp-for="Button" class="form-control" />
                <span asp-validation-for="Button" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightSection" class="control-label"></label>
                <input asp-for="HeightSection" class="form-control" />
                <span asp-validation-for="HeightSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BVTopSize" class="control-label"></label>
                <input asp-for="BVTopSize" class="form-control" />
                <span asp-validation-for="BVTopSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BVLeftSize" class="control-label"></label>
                <input asp-for="BVLeftSize" class="form-control" />
                <span asp-validation-for="BVLeftSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BVColor" class="control-label"></label>
                <input asp-for="BVColor" class="form-control" />
                <span asp-validation-for="BVColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BVSize" class="control-label"></label>
                <input asp-for="BVSize" class="form-control" />
                <span asp-validation-for="BVSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ButtonBgColor" class="control-label"></label>
                <input asp-for="ButtonBgColor" class="form-control" />
                <span asp-validation-for="ButtonBgColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
