@{
    ViewData["Title"] = "Simplon Academy";
}

@await Component.InvokeAsync("Header")
<div class="w-75 m-auto containerHome">
    <a id="top">
        <img class="p-0" src="~/img/top.png" />
    </a>
    @await Component.InvokeAsync("Section")
    @await Component.InvokeAsync("Offre")
    @await Component.InvokeAsync("About")
    @await Component.InvokeAsync("Statistics")
    @await Component.InvokeAsync("SectionTheme")
    <div class="parent" id="">
        @await Component.InvokeAsync("Thematic")
    </div>
    @await Component.InvokeAsync("Slide")
    @await Component.InvokeAsync("SlideTwo")
    @await Component.InvokeAsync("Contact")
</div>
