


<div class="Dtype">
    <section class="d-flex justify-content-center w-100" id="types"></section>
</div>

<script>

    $.ajax({
        url: '/FTypes',
        type: 'GET',
        success: function (res) {
            $.each(res, function (index, option) {
                $("#types").append(
                    `
                        <div>
                            <div class="p-1 m-2 div1" style="background:${option.bgCard}; width:${option.sizeCard}vw; height:100%;">
                                <p>${option.content}</p>
                                <p style="color:${option.color}; text-decoration:none; font-weight:bold;">#${option.name}</p>
                            </div>
                        </div>
                    `
                );
            });
            $(".Dtype").append(
                    `
                        <div class="descTypes" id="notrepedagoqie">
                            <div class="descTypes-div1">
                                <div class="square1"></div>
                                <h5 class="descTypes-div1_title">Formations Courtes</h5>
                                <p class="descTypes-div1_title">Des Modules d'initiation et de formation <br>De deux heures à 5 jours (en moyenne)</p>
                            </div>
                            <div class="descTypes-div2">
                                <div class="square"></div>
                                <h5 class="descTypes-div2_title">Formations Longues</h5>
                                <p class="descTypes-div2_title">Des formations de 4 semaines à 9 mois<br>(avec des stages)</p>
                            </div>
                        </div>
                    `
                );
        }
    });


    @*

                                        function get_Formation(formationTypeId) {
                                            $("#formations").load(location.href + " #formations");
                                            setTimeout(function () {
                                                $.ajax({
                                                    url: '/Formations/GetFormationsByFilter?formationTypeId=' + formationTypeId,
                                                    type: 'GET',
                                                    success: function (res) {
                                                        if (res.length == 0) {
                                                            $("#formations").append(`<h1 class="text-center">No Data</h1>`)
                                                        } else {
                                                            $.each(res, function (index, option) {
                                                                $("#formations").append(
                                                                    `
                                                                        <div class="col-3 m-2 p-3 cardOffre" style="background:${option.offreFBgColor};height:100%; border-radius:5px; border:1px solid #D2D2D2;">
                                                                            <p class="cardOffre-title" style="color:${option.offreFColor}; font-size:${option.offreFSize + 'vw'};font-weight:bold;">${option.title}</p>
                                                                            <p style="">Durée ${option.duration}</p>
                                                                            <a class="text-light cardOffre-button" href="formations/details/${option.id}" style="background:${option.offreFBgColorButton}; border-radius:5px; text-decoration:none;">Details</a>
                                                                        </div>
                                                                    `
                                                                );
                                                            });
                                                        }

                                                    },
                                                    error: function (errorThrown) {
                                                        $("#formations").append(
                                                            `
                                                                <h1>Error</h1>
                                                            `
                                                        );
                                                    }
                                                });
                                            }, 500)
                                        }

                                        function get_All() {
                                            $("#formations").load(location.href + " #formations");
                                            setTimeout(function () {
                                                $.ajax({
                                                    url: '/Formations/GetFormationAPI',
                                                    type: 'GET',
                                                    success: function (res) {
                                                        if (res.length == 0) {
                                                            $("#formations").append(`<h1 class="text-center">No Data</h1>`)
                                                        } else {
                                                            $.each(res, function (index, option) {
                                                                $("#formations").append(
                                                                    `
                                                                            <div class="col-3 m-2 p-3 cardOffre" style="background:${option.offreFBgColor};height:100%; border-radius:5px; border:1px solid #D2D2D2;">
                                                                                    <p class="cardOffre-title" style="color:${option.offreFColor}; font-size:${option.offreFSize + 'vw'};font-weight:bold;">${option.title}</p>
                                                                                <p style="">Durée ${option.duration}</p>
                                                                                    <a class="text-light cardOffre-button" href="formations/details/${option.id}" style="background:${option.offreFBgColorButton}; border-radius:5px; text-decoration:none;">Details</a>
                                                                            </div>
                                                                        `
                                                                );

                                                            });
                                                        }
                                                    },
                                                    error: function (errorThrown) {
                                                        $("#formations").append(
                                                            `
                                                                    <h1>Error</h1>
                                                                `
                                                        );
                                                    }
                                                });
                                            }, 500)
                                        }

                                        $(document).ready(function () {
                                            $.ajax({
                                                url: '/Formations/GetFormationAPI',
                                                type: 'GET',
                                                success: function (res) {
                                                    if (res.length == 0) {
                                                        $("#formations").append(`<h1 class="text-center">No Data</h1>`)
                                                    } else {
                                                        $.each(res, function (index, option) {
                                                            $("#formations").append(
                                                                `
                                                                    <div data-aos="flip-left" class="col-3 m-2 p-3 cardOffre" style="background:${option.offreFBgColor};border-radius:5px; border:1px solid #D2D2D2;">
                                                                            <p class="cardOffre-title" style="color:${option.offreFColor}; font-size:${option.offreFSize + 'vw'};font-weight:bold;">${option.title}</p>
                                                                        <p style="">Durée ${option.duration}</p>
                                                                        <a class="text-light cardOffre-button" href="formations/details/${option.id}" style="background:${option.offreFBgColorButton}; border-radius:5px; text-decoration:none;">Details</a>
                                                                    </div>
                                                                `
                                                            );

                                                        });
                                                    }
                                                },
                                                error: function (errorThrown) {
                                                    $("#formations").append(
                                                        `
                                                                        <h1>Error</h1>
                                                                    `
                                                    );
                                                }
                                            });
                                        });*@
</script>

