


<div class="">
    <section class="d-flex justify-content-center" id="types"></section>
</div>
<div class="m-auto">
    <section id="formations" class="row gx-5 justify-content-center" style="">
    </section>
</div>




<script>
    $.ajax({
        url: '/FTypes/GetTypeAPI',
        type: 'GET',
        success: function (res) {
            $("#types").append(
                `
                    <p class="btn-type bg-dark text-light" onclick="get_All()">All</p>
                `
            );
            $.each(res, function (index, option) {
                $("#types").append(
                    `
                        <p class="btn-type" id="${option.id}" onClick="get_Formation(this.id)" style="color:${option.color}; background:${option.bgColor};">${option.name}</p>
                    `
                );
            });
        }
    });


    function get_Formation(formationTypeId) {
        $("#formations").load(location.href + " #formations");
        setTimeout(function () {
            $.ajax({
                url: '/Formations/GetFormationsByFilter?formationTypeId=' + formationTypeId,
                type: 'GET',
                success: function (res) {
                    if (res.length == 0) {
                        $("#formations").append(`<h1 class="text-center">No Data</h1>`)
                    } else {
                        $.each(res, function (index, option) {
                            $("#formations").append(
                                `
                                    <div class="col-3 m-2 p-3" style="background:${option.offreFBgColor};height:9em; border-radius:5px;">
                                        <p style="color:${option.offreFColor}; font-size:${option.offreFSize};font-weight:bold;">${option.title}</p>
                                        <p style="">${option.duration}</p>
                                        <a class="p-2 pl-3 pr-3" href="formations/details/${option.id}" style="background:${option.offreFBgColorButton}; border-radius:8px;">Details</a>
                                    </div>
                                `
                            );
                        });
                    }

                },
                error: function (errorThrown) {
                    $("#formations").append(
                        `
                            <h1>Error</h1>
                        `
                    );
                }
            });
        }, 300)
    }




    function get_All() {
        $("#formations").load(location.href + " #formations");
        setTimeout(function () {
            $.ajax({
                url: '/Formations/GetFormationAPI',
                type: 'GET',
                success: function (res) {
                    if (res.length == 0) {
                        $("#formations").append(`<h1 class="text-center">No Data</h1>`)
                    } else {
                        $.each(res, function (index, option) {
                            $("#formations").append(
                                `
                                    <div class="col-3 m-2 p-3" style="background:${option.offreFBgColor};height:9em; border-radius:5px;">
                                        <p style="color:${option.offreFColor}; font-size:${option.offreFSize};font-weight:bold;">${option.title}</p>
                                        <p style="">${option.duration}</p>
                                        <a class="p-2 pl-3 pr-3" href="formations/details/${option.id}" style="background:${option.offreFBgColorButton}; border-radius:8px;">Details</a>
                                    </div>
                                `
                            );

                        });
                    }
                },
                error: function (errorThrown) {
                    $("#formations").append(
                        `
                            <h1>Error</h1>
                        `
                    );
                }
            });
        }, 300)
    }

    $(document).ready(get_All);

</script>

