@model SAcademy.Models.About

@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> font = new List<SelectListItem>()
{
new SelectListItem() { Text="Nunito Sans", Value="Nunito Sans"},
new SelectListItem() { Text="Nunito Black", Value="Nunito Black"},
new SelectListItem() { Text="Nunito", Value="Nunito"},
new SelectListItem() { Text="'Nunito' bold", Value="'Nunito' bold"},
new SelectListItem() { Text="Roboto", Value="Roboto"},
new SelectListItem() { Text="Comic Sans MS", Value="Comic Sans MS"},
};
}

<div class="modal fade" id="EditAbout-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit About</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleColor" class="control-label"></label>
                        <input type="color" asp-for="TitleColor" class="form-control" />
                        <span asp-validation-for="TitleColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleSize" class="control-label"></label>
                        <input type="number" asp-for="TitleSize" class="form-control" />
                        <span asp-validation-for="TitleSize" class="text-danger"></span>
                    </div>
                    <div>
                        <select asp-for="FontFamily" asp-items="@font" class="form-control custom-select">
                            <option>-Select Font family-</option>
                            <option value="@Model.FontFamily">@Model.FontFamily</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" id="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Video" class="control-label"></label>
                        <input asp-for="Video" class="form-control"
                            title="video youtube => partager => intégrer <> => copier le lien from https" />
                        <span asp-validation-for="Video" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="image" class="control-label"></label>
                        <input type="file" asp-for="image" class="form-control" />
                        <span asp-validation-for="image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VideoWidth" class="control-label"></label>
                        <p>Best size : 590</p>
                        <input type="number" asp-for="VideoWidth" class="form-control" />
                        <span asp-validation-for="VideoWidth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VideoHeight" class="control-label"></label>
                        <p>Best size : 345</p>
                        <input type="number" asp-for="VideoHeight" class="form-control" />
                        <span asp-validation-for="VideoHeight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="float-right text-white pr-2 pl-2" title="Save"
                            style="border-radius:25px; background:black;">
                            <img src="~/img/save.png" style="width:1.3em;">
                            Save
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
    $("#Content").summernote({
        placeholder: "Content ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontSizes: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '14', '18', '24', '36', '48', '64', '82', '150'],
        fontSizeUnits: ['px', 'pt', 'em', '%', 'vw'],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['font', ['fontname', 'fontsize', 'fontsizeunit']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });
</script>
