@model Home


<div class="modal fade" id="CreateNav" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Nav</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateHomeNav" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="BgNav" class="control-label"></label>
                        <input type="color" asp-for="BgNav" class="form-control" required />
                        <span asp-validation-for="BgNav" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Logo" class="control-label"></label>
                        <input type="file" asp-for="Logo" class="form-control" required />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LogoSize" class="control-label"></label>
                        <input type="number" asp-for="LogoSize" class="form-control" />
                        <span asp-validation-for="LogoSize" class="text-danger"></span>
                    </div>
                    <button type="submit" class="float-right text-white pr-2 pl-2" title="Save" style="border-radius:25px; background:black;">
                        <img src="~/img/plus.png" style="width:1.3em;">
                        Ajouter
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}