@model List<SAcademy.Models.Statistics>

<div class="p-3">


    @foreach (var item in Model)
    {
        if (item.Visible == true)
        {
            var size = string.Concat(item.TitleSize, "vw");
            <p class="text-center  pt-5 m-0 Titles" style="color:@item.TitleColor; font-size:@size; font-weight:bold; font-family:@item.FontFamily;">@item.Title</p>
            @await Component.InvokeAsync("StaticNum")
                
        }

    }
</div>
