@model List<SAcademy.Models.Slide>



<style>
    .splide__arrow {
        background:transparent !important;
    }

    .splide__arrow--next{
        right:-1em !important;
    }

    .splide__arrow--prev{
        left:0em !important;
    }
    .splide__arrow svg {
        fill:#ce0033 !important;
    }

    .splide__pagination{
        visibility:hidden;
    }
</style>

<div class="p-3 w-100 m-auto" id="">
    @foreach (var item in Model)
    {
        if (item.Visible == true)
        {
            var size = string.Concat(item.TitleSize, "vw");
            <div class="text-center">
                <p class="Titles tslide mt-2 pt-5" style="color:@item.TitleColor; font-size:@size; font-weight:bold; font-family:@item.FontFamily;">@item.Title</p>
            </div>
            <div class="contentSlide">@Html.Raw(item.Content)</div>

            <section class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track text-center">
                    <ul class="splide__list">
                        @foreach (var img in item.Images)
                        {
                            <li class="splide__slide m-auto">
                                <img class="m-auto imgSld1" style="padding:2em 3em; width:18em; height:11.7em;"
                        src="data:image/*;base64,@Convert.ToBase64String(img.Data)">
                            </li>
                        }
                    </ul>
                </div>
            </section>
        }
    }
</div>

<script>
    var splide = new Splide('.splide', {
        perPage: 6,
        type: 'loop',
        autoplay: true,
        dots: false,
        breakpoints: {
            1950: {
                perPage: 4,

            },
            1500: {
                perPage: 4,

            },
            1300: {
                perPage: 3,

            },
            767: {
                perPage: 2,

            },
            640: {
                perPage: 1,

            },
        },
    });

    splide.mount();
</script>