@model List<SAcademy.Models.Offre>


<div class="text-center p-3" id="nosformations">

    @foreach (var item in Model)
    {
        if (item.Visible == true)
        {
            var size = string.Concat(item.TitleSize, "vw");
            <p class="text-center p-2 Titles" style="color:@item.TitleColor; font-size:@size; font-weight:bold;">@item.Title</p>
            <div data-aos="zoom-in-down">@Html.Raw(item.Content)</div>
            <partial name="_Offres" />
        }
    }

</div>
