@model List<SAcademy.Models.Offre>


<div class="text-center" id="offres">

    @foreach (var item in Model)
    {
        var size = string.Concat(item.TitleSize, "px");
        <p class="text-center p-3" style="color:@item.TitleColor; font-size:@size; font-weight:bold;">@item.Title</p>
        @Html.Raw(item.Content)
    }
</div>