@model SAcademy.Models.Contact

<div class="modal fade" id="EditContact-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Conatact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleColor" class="control-label"></label>
                        <p>Simplon color : #ce0033 </p>
                        <input type="color" asp-for="TitleColor" class="form-control" />
                        <span asp-validation-for="TitleColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleSize" class="control-label"></label>
                        <input type="number" asp-for="TitleSize" class="form-control" />
                        <span asp-validation-for="TitleSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" id="Content" class="form-control"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Localisation" class="control-label"></label>
                        <input asp-for="Localisation" class="form-control" />
                        <span asp-validation-for="Localisation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LocalColor" class="control-label"></label>
                        <input type="color" asp-for="LocalColor" class="form-control" />
                        <span asp-validation-for="LocalColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailColor" class="control-label"></label>
                        <input type="color" asp-for="EmailColor" class="form-control" />
                        <span asp-validation-for="EmailColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Call" class="control-label"></label>
                        <input asp-for="Call" class="form-control" />
                        <span asp-validation-for="Call" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CallColor" class="control-label"></label>
                        <input type="color" asp-for="CallColor" class="form-control" />
                        <span asp-validation-for="CallColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Maps" class="control-label"></label>
                        <input asp-for="Maps" class="form-control" />
                        <span asp-validation-for="Maps" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MapWidth" class="control-label"></label>
                        <p>best width : 520</p>
                        <input type="number" asp-for="MapWidth" class="form-control" />
                        <span asp-validation-for="MapWidth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MapHeight" class="control-label"></label>
                        <p>best width : 370</p>
                        <input type="number" asp-for="MapHeight" class="form-control" />
                        <span asp-validation-for="MapHeight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ButtonBgColor" class="control-label"></label>
                        <input type="color" asp-for="ButtonBgColor" class="form-control" />
                        <span asp-validation-for="ButtonBgColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="float-right text-white pr-2 pl-2" title="Save" style="border-radius:25px; background:black;">
                            <img src="~/img/save.png" style="width:1.3em;">
                            Save
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    $("#Content").summernote({
        placeholder: "Content ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontNames: ['Serif', 'Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ['fontname', ['fontname']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ]
    });
</script>