@model List<SAcademy.Models.StaticNum>

<div class="p-3" id="statisticNum">

<section class="three d-flex justify-content-center">
    <div class="nums d-flex w-100 justify-content-between">
        @foreach (var item in Model)
        {
            <div class="d-flex flex-column itemNum">
                <div class="num numstyle" data-goal="@item.Number">0</div>
                <h5 class="descrstyle">@item.Description</h5>
            </div>
        }
    </div>
 </section>
</div>
