@model SAcademy.Models.Formation

@{
    ViewData["Title"] = "Create";
}

<div class="modal fade" id="CreateFormation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Formation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Formations" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDay" class="control-label"></label>
                        <input type="date" asp-for="StartDay" class="form-control" />
                        <span asp-validation-for="StartDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDay" class="control-label"></label>
                        <input type="date" asp-for="EndDay" class="form-control" />
                        <span asp-validation-for="EndDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input type="time" asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input type="time" asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Presentation" class="control-label"></label>
                        <textarea asp-for="Presentation" id="Presentation" class="form-control"></textarea>
                        <span asp-validation-for="Presentation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skills" class="control-label"></label>
                        <textarea asp-for="Skills" id="Skills" class="form-control"></textarea>
                        <span asp-validation-for="Skills" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Certificate" class="control-label"></label>
                        <textarea asp-for="Certificate" id="Certificate" class="form-control"></textarea>
                        <span asp-validation-for="Certificate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ModeId" class="control-label"></label>
                        <select asp-for="ModeId" class="form-control" asp-items="ViewBag.ModeId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="VilleId" class="control-label"></label>
                        <select asp-for="VilleId" class="form-control" asp-items="ViewBag.VilleId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeId" class="control-label"></label>
                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="float-right text-white pr-2 pl-2" title="Save"
                            style="border-radius:25px; background:black;">
                            <img src="~/img/plus.png" style="width:1.3em;">
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $("#Certificate").summernote({
        placeholder: "Certificate ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ['fontname', ['fontname']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });

    $("#Presentation").summernote({
        placeholder: "Presentation ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ['fontname', ['fontname']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });

    $("#Skills").summernote({
        placeholder: "Skills ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ['fontname', ['fontname']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ],
    });
</script>
