@model SAcademy.Models.Formation

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" id="EditFormation-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog"style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Formation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Formations" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDay" class="control-label"></label>
                        <input type="text" name="StartDay" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="@Model.StartDay.Date" />
                        <span asp-validation-for="StartDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDay" class="control-label"></label>
                        <input type="text" name="EndDay" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="@Model.StartDay.Date" />
                        <span asp-validation-for="EndDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input type="time" asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input type="time" asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Presentation" class="control-label"></label>
                        <textarea asp-for="Presentation" id="PresentationE" class="form-control cntSumerP"></textarea>
                        <span asp-validation-for="Presentation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skills" class="control-label"></label>
                        <textarea asp-for="Skills" id="SkillsE" class="form-control cntSumerS"></textarea>
                        <span asp-validation-for="Skills" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Certificate" class="control-label"></label>
                        <textarea asp-for="Certificate" id="CertificateE" class="form-control cntSumerC"></textarea>
                        <span asp-validation-for="Certificate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ModeId" class="control-label"></label>
                        <select asp-for="ModeId" class="form-control" asp-items="ViewBag.ModeId"></select>
                        <span asp-validation-for="ModeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VilleId" class="control-label"></label>
                        <select asp-for="VilleId" class="form-control" asp-items="ViewBag.VilleId"></select>
                        <span asp-validation-for="VilleId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeId" class="control-label"></label>
                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThematicId" class="control-label"></label>
                        <select asp-for="ThematicId" class="form-control" asp-items="ViewBag.ThematicId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="OffreFColor" class="control-label"></label>
                        <input type="color" asp-for="OffreFColor" class="form-control" />
                        <span asp-validation-for="OffreFColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OffreFSize" class="control-label"></label>
                        <input type="number" asp-for="OffreFSize" class="form-control" />
                        <span asp-validation-for="OffreFSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OffreFBgColor" class="control-label"></label>
                        <input type="color" asp-for="OffreFBgColor" class="form-control" />
                        <span asp-validation-for="OffreFBgColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OffreFBgColorButton" class="control-label"></label>
                        <input type="color" asp-for="OffreFBgColorButton" class="form-control" />
                        <span asp-validation-for="OffreFBgColorButton" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="float-right text-white pr-2 pl-2" title="Save" style="border-radius:25px; background:black;">
                            <img src="~/img/save.png" style="width:1.3em;">
                            Save
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(".cntSumerP").summernote({
        placeholder: "TypeContent ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
        fontSizes: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '16', '18', '20', '24', '36', '48', '64', '82', '150'],
        fontSizeUnits: ['px', 'pt', 'em', '%', 'vw'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['font', ['fontname', 'fontsizeunit']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ]
    });

    $(".cntSumerS").summernote({
        placeholder: "TypeContent ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
        fontSizes: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '16', '18', '20', '24', '36', '48', '64', '82', '150'],
        fontSizeUnits: ['px', 'pt', 'em', '%', 'vw'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['font', ['fontname', 'fontsizeunit']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ]
    });

    $(".cntSumerC").summernote({
        placeholder: "TypeContent ",
        lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
        fontSizes: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '14', '16', '18', '20', '24', '36', '48', '64', '82', '150'],
        fontSizeUnits: ['px', 'pt', 'em', '%', 'vw'],
        tabsize: 2,
        height: 120,
        toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", 'italic', "clear"]],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['font', ['fontname', 'fontsizeunit']],
            ['fontsize', ['fontsize']],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ['height', ['height']],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
        ]
    });

    //$("#PresentationE").summernote({
    //    placeholder: "Presentation ",
    //    lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
    //    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
    //    tabsize: 2,
    //    height: 120,
    //    toolbar: [
    //        ["style", ["style"]],
    //        ["font", ["bold", "underline", 'italic', "clear"]],
    //        ['font', ['strikethrough', 'superscript', 'subscript']],
    //        ['fontsize', ['fontsize']],
    //        ["color", ["color"]],
    //        ["para", ["ul", "ol", "paragraph"]],
    //        ['height', ['height']],
    //        ['fontname', ['fontname']],
    //        ["table", ["table"]],
    //        ["insert", ["link", "picture", "video"]],
    //        ["view", ["fullscreen", "codeview", "help"]],
    //    ],
    //});

    //$("#SkillsE").summernote({
    //    placeholder: "Skills ",
    //    lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
    //    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Nunito Sans', 'Nunito', 'Nunito Black'],
    //    tabsize: 2,
    //    height: 120,
    //    toolbar: [
    //        ["style", ["style"]],
    //        ["font", ["bold", "underline", 'italic', "clear"]],
    //        ['font', ['strikethrough', 'superscript', 'subscript']],
    //        ['fontsize', ['fontsize']],
    //        ["color", ["color"]],
    //        ["para", ["ul", "ol", "paragraph"]],
    //        ['height', ['height']],
    //        ['fontname', ['fontname']],
    //        ["table", ["table"]],
    //        ["insert", ["link", "picture", "video"]],
    //        ["view", ["fullscreen", "codeview", "help"]],
    //    ],
    //});
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
