@model IEnumerable<SAcademy.Models.FormationPage>

@{
    Layout = "_LayoutDashboard";
}

<div class="d-flex justify-content-around">
    <h3 class="">Formation</h3>
    <a class="btn btn-secondary" asp-action="FormationPanel">Gestion de Formations</a>
</div>
<hr />
<p>
    <a asp-action="Create">O</a>
</p>

@foreach (var item in Model) {
    <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditFomationPages-"+item.Id)" data-url="@Url.Action($"Edit/{item.Id}")">
        <img src="~/img/edit.png">
    </button>
    @await Html.PartialAsync("_EditFomationPagesPartialView",item)

    var size = string.Concat(item.ContentHeight, "px");

    <div class="p-2" style="background:@item.ContentBgColor; height:@size;">
        @Html.Raw(item.Content)
    </div>
}

 