@model List<SAcademy.Models.InscriptionPage>




@foreach (var item in Model)
{
    var size = string.Concat(item.ContentHeight, "px");
    if (item.Visible == true)
    {
        <div>
            <div style="background:@item.ContentBgColor; height:@size;">
                @Html.Raw(item.ContentOne)
            </div>
            <div>
                @Html.Raw(item.ContentTwo)
            </div>
        </div>
    }
}