@model SAcademy.ViewModel.NavViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    string? fullName = null;
    if (SignInManager.IsSignedIn(User))
    {
        User user = await UserManager.FindByEmailAsync(User.Identity.Name);
        if (user != null)
        {
            fullName = user.FullName;
        }
    }
}

@foreach (var item in Model.Home)
{
    var sizeLogo = string.Concat(item.LogoSize, "px");
    @await Component.InvokeAsync("ContactNav")
    <nav id="navbar_top" class="nav-bar" style="background:@item.BgNav;">
        <div class="nav-hold">
            <div class="nav-logo">
                @if (item.Logo != null)
                {
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="width:@sizeLogo;" src="data:image/*;base64,@(Convert.ToBase64String(item.Logo))" /></a>
                }
                else
                {
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="width:@sizeLogo;" src="~/img/logoFooter.png" /></a>
                }
            </div>
            <div class="nav-menu pt-3" id="nav"><img style="width:40px; color:white;" src="~/img/menu.png"></div>
            <ul class="nav-items">
                @foreach (var n in Model.Menu)
                {
                    var size = string.Concat(n.Size, "px");
                    <li class="">
                        <a class="mr-4 " href="@n.Link"
                    style="color:@n.Color; font-size:@size; font-weight:bold; font-family:@n.FontFamily;">@n.TitleMenu</a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="">
                        <a class="mr-3" href="/dashboard" style="font-weight:bold;" target="_blank">
                            <img src="~/img/dashboard.png">
                        </a>
                    </li>
                }
                @if(User.IsInRole("User"))
                {
                    <li class="">
                        <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            <img class="m-0" style="width:1.5vw;" src="~/img/arrow.png" />
                        </a>
                        <div class="dropdown-menu">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@fullName</a>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </div>
                    </li>
                }
                else
                {
                    
                }
            </ul>
        </div>
    </nav>
    <div class="main-content">
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.addEventListener('scroll', function () {
            if (window.scrollY > 50) {
                document.getElementById('navbar_top').classList.add('fixed-top');
                // add padding top to show content behind navbar
                navbar_height = document.querySelector('.navbar').offsetHeight;
                document.body.style.paddingTop = navbar_height + 'px';
            } else {
                document.getElementById('navbar_top').classList.remove('fixed-top');
                // remove padding top from body
                document.body.style.paddingTop = '0';
            }
        });
    }); 
</script>