@model SAcademy.ViewModel.NavViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@foreach (var item in Model.Home)
{
    var sizeLogo = string.Concat(item.LogoSize, "px");
    <nav class="nav-bar" style="background:@item.BgNav;">
        <div class="nav-hold">
            <div class="nav-logo">
                @if (item.Logo != null)
                {
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="width:@sizeLogo;"
                    src="data:image/*;base64,@(Convert.ToBase64String(item.Logo))" /></a>
                }
                else
                {
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="width:@sizeLogo;"
                    src="~/img/logoFooter.png" /></a>
                }
            </div>
            <div class="nav-menu pt-3" id="nav"><img style="width:40px; color:white;" src="~/img/menu.png"></div>
            <ul class="nav-items">
                @foreach (var n in Model.Menu)
                {
                    var size = string.Concat(n.Size, "px");
                    <li class="pt-3 nvItem">
                        <a class="mr-3 " href="@n.Link" style="color:@n.Color; font-size:@size; font-weight:bold;">@n.TitleMenu |</a>
                    </li>
                }
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="mr-3" href="/dashboard" style="color:; font-size:; font-weight:bold;">
                        <img src="~/img/dashboard.png">    
                    </a>
                }
            </ul>
        </div>
    </nav>
    <div class="main-content">
    </div>
}