@model IEnumerable<SAcademy.Models.StaticNum>

@{
    Layout = "_LayoutDashboard";
}
<p>
    <a asp-action="Create">O</a>
</p>
<div class="w-75 m-auto">
    <section class="three d-flex justify-content-center">
        <div class="nums">
@foreach (var item in Model)
{
    <button type="button" class="border-0 bg-transparent" title="Modifier" data-toggle="modal" data-target="@("#EditStatiNum-"+item.Id)" data-url="@Url.Action($"Edit/{item.Id}")">
        <img src="~/img/edit.png">
    </button>
    @await Html.PartialAsync("_EditStaticNumPartialView",item)

            <div class="num">
                <h5>@item.Number</h5>
                <h5>@item.Description</h5>
            </div>
}
        </div>
    </section>

</div>
