@model List<SAcademy.Models.SlideTwo>

<style>

</style>


<div class="p-3 w-100 m-auto" id="">
    @foreach (var item in Model)
    {
        if (item.Visible == true)
        {
            var size = string.Concat(item.TitleSize, "px");
            <div class="text-center">
                <p class="Titles tslide mt-2" style="color:@item.TitleColor; font-size:@size; font-weight:bold; font-family:@item.FontFamily;">@item.Title</p>
            </div>
            <div class="contentSlide">@Html.Raw(item.Content)</div>

            <div class="center m-auto" style="width:85%;">
                @foreach (var img in item.Images)
                {
                    <div class="m-auto">
                        <img class="" style="padding:.3em .5em; width:13em; height:8em; margin:auto !important;"
                        src="data:image/*;base64,@Convert.ToBase64String(img.Data)">
                    </div>
                }
            </div>
            <br />
            <div class="contentSlide pt-3 text-center">@Html.Raw(item.ContentTwo)</div>
        }
    }
</div>

<script>
    $(document).ready(function(){
        $('.center').slick({
           slidesToShow: 4,
        slidesToScroll: 1,
        arrows: true,
        prevArrow:`<button class='slick-prev'><img style="width:20px;" src="img/prev.png"></button>`,
        nextArrow:`<button class='slick-next'><img style="width:20px;" src="img/next.png"></button>`,
       dots: false, 
        speed: 300,
        infinite: true,
        autoplaySpeed: 2000,
        autoplay: true,
        responsive: [
        {
        breakpoint: 1400,
        settings: {
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 991,
        settings: {
          slidesToShow: 2,
        }
      },
      {
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
        }
      }
    ]
        });
    });
</script>
