@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_LayoutIdentity";
}

<style>
    
</style>


@* <h1>Confirmation</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a class="pl-2" id="confirm-link" href="/Identity/Account/Login">Cliquez ici pour se connecter</a> *@
<div class="w-50 m-auto text-center p-5">
    <img src="~/img/logo.png" style="width:40%;"/>
</div>
@*js-container*@
<div class="container" style="top: 0px !important"></div>
    <div
      style="
        text-align: center;
        margin-top: 30px;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 200px;
        left: 0px;
      "
    >
      <div class="checkmark-circle pb-5">
        <div class="background"></div>
        <div class="checkmark draw"></div>
      </div>
    <h1 class="pt-4">Simplon academy vous souhaite la bienvenue!</h1>
      <p>Merci pour la confirmation de votre email, pour continuer</p>
      <a href="/Identity/Account/Login" class="submit-btn btn">Cliquez ici</a>

      </div>


      <script>
      const Confettiful = function (el) {
        this.el = el;
        this.containerEl = null;

        this.confettiFrequency = 3;
        this.confettiColors = [
          "#EF2964",
          "#00C09D",
          "#2D87B0",
          "#48485E",
          "#EFFF1D",
        ];
        this.confettiAnimations = ["slow", "medium", "fast"];

        this._setupElements();
        this._renderConfetti();
      };

      Confettiful.prototype._setupElements = function () {
        const containerEl = document.createElement("div");
        const elPosition = this.el.style.position;

        if (elPosition !== "relative" || elPosition !== "absolute") {
          this.el.style.position = "relative";
        }

        containerEl.classList.add("confetti-container");

        this.el.appendChild(containerEl);

        this.containerEl = containerEl;
      };

      Confettiful.prototype._renderConfetti = function () {
        this.confettiInterval = setInterval(() => {
          const confettiEl = document.createElement("div");
          const confettiSize = Math.floor(Math.random() * 3) + 7 + "px";
          const confettiBackground =
            this.confettiColors[
              Math.floor(Math.random() * this.confettiColors.length)
            ];
          const confettiLeft =
            Math.floor(Math.random() * this.el.offsetWidth) + "px";
          const confettiAnimation =
            this.confettiAnimations[
              Math.floor(Math.random() * this.confettiAnimations.length)
            ];

          confettiEl.classList.add(
            "confetti",
            "confetti--animation-" + confettiAnimation
          );
          confettiEl.style.left = confettiLeft;
          confettiEl.style.width = confettiSize;
          confettiEl.style.height = confettiSize;
          confettiEl.style.backgroundColor = confettiBackground;

          confettiEl.removeTimeout = setTimeout(function () {
            confettiEl.parentNode.removeChild(confettiEl);
          }, 3000);

          this.containerEl.appendChild(confettiEl);
        }, 25);
      };

      window.confettiful = new Confettiful(
        document.querySelector(".js-container")
      );
    </script>