@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Inscription";
    Layout = "_LayoutIdentity";
}
<div class="w-50 m-auto">
    <h1>@ViewData["Title"]</h1>
    <h2 id="external-login-title">Associez votre @Model.ProviderDisplayName account.</h2>
    <hr />
    <p id="external-login-description" class="text-info">
        Vous avez réussi à vous authentifier auprès de <strong>@Model.ProviderDisplayName</strong>.
        veuillez entrer une adresse e-mail pour ce site ci-dessous et cliquez sur le bouton d'enregistrement pour terminer la connexion.
    </p>

    <div class="">
        <div class="">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary mt-2">Enregistrer</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
