@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutIdentity";
}

<h1>confirmation mot de passe oublié</h1>
<p>
    Veuillez vérifier votre e-mail pour réinitialiser votre mot de passe.
</p>
