@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutIdentity";
}

<style>
    .inputLog{
        border-radius:40px;
    }
</style>


        <section class="w-50 pt-5 p-5 m-auto position-relative" style="background:#ddd; top:9em;">
            <form id="account" method="post">
                <h2 class="text-center" style="font-size:22px;">Authentification.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control inputLog" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control inputLog" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-danger mt-3 inputLog">Log in</button>
                </div>
                <div>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a><br />
                     <a href="/">Home</a>
                </div>
            </form>
        </section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
