@model IEnumerable<SAcademy.Models.Formation>

@{
    ViewData["Title"] = "Index";
}
@await Component.InvokeAsync("FormationPage")
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item text-center"><a href="/"><img class="w-75" src="~/img/home.png"></a></li>
        <li class="breadcrumb-item active" aria-current="page">Nos Formation</li>
    </ol>
</nav>

<div class="row w-100">
    <div class="col-2" id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Type ▼
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="" id="ftype"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Ville ▼
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div id="villes"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Mode ▼
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div id="modes"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="formation"></div>
</div>






<script defer>




    $.ajax({
        url: '/Villes/GetVilleAPI',
        type: 'GET',
        success: function (res) {
            $.each(res, function (index, option) {
                $("#villes").append(
                    `
                                    <div class="d-flex">
                                            <input type="checkbox" class="villeId common" name="villes" onClick="filterFormations()" value="${option.id}"> ${option.name}
                                    </div>
                                `
                );
            });
        }
    });

    $.ajax({
        url: '/FTypes/GetTypeAPI',
        type: 'GET',
        success: function (res) {
            $.each(res, function (index, option) {
                $("#ftype").append(
                    `
                        <div class="d-flex">
                                <input type="checkbox" class="typeId common" name="types" onClick="filterFormations()" value="${option.id}"> ${option.name}
                        </div>
                    `
                );
            });
        }
    });


    $.ajax({
        url: '/Modes/GetModeAPI',
        type: 'GET',
        success: function (res) {
            $.each(res, function (index, option) {
                $("#modes").append(
                    `
                        <div class="d-flex">
                                <input type="checkbox" class="modeId common" name="modes" onClick="filterFormations()" value="${option.id}"> ${option.name}
                        </div>
                    `
                );
            });
        }
    });


    //function get_Formation(villeId, typeId, modeId) {
    //    $("#formation").load(location.href + " #formation");
    //    setTimeout(function () {
    //        $.ajax({
    //            url: '/Formations/Filter',
    //            data: {
    //                villeId: villeId,
    //                typeId: typeId,
    //                modeId: modeId
    //            },
    //            type: 'GET',
    //            //beforeSend: function () {
    //            //    $("#loader").show();
    //            //},
    //            //complete: function () {
    //            //    $("#loader").hide();
    //            //},
    //            success: function (res) {
    //                console.log(res);
    //                if (res.length == 0) {
    //                    $("#formation").append(`<h1 class="text-center">No Data</h1>`)
    //                } else {
    //                    console.log(res);
    //                    $.each(res, function (index, option) {
    //                        $("#formation").append(
    //                            `
    //                                <div class="col-3 m-2 p-3" style="background:${option.offreFBgColor};height:9em; border-radius:5px;">
    //                                    <p style="color:${option.offreFColor}; font-size:${option.offreFSize};font-weight:bold;">${option.title}</p>
    //                                    <p style="">${option.duration}</p>
    //                                    <a class="p-2 pl-3 pr-3" href="formations/details/${option.id}" style="background:${option.offreFBgColorButton}; border-radius:8px;">Details</a>
    //                                </div>
    //                            `
    //                        );
    //                    });
    //                }

    //            },
    //            error: function (errorThrown) {
    //                $("#formation").append(
    //                    `
    //                            <h1>Error</h1>
    //                        `
    //                );
    //            }
    //        });
    //    }, 500)
    //}


 
        filterFormations();

        $('.common').click(function () {
            filterFormations();
        });
        function filterFormations() {
            //debugger
            //$("#formation").load(location.href + " #formation");
            /* 
            var modeInputs = [];
            var villeInputs = [];
            var typeInputs = [];

            $('.modeId').on('click', function () {
                debugger;
                var modes = $('[name="modes"]');
                $(this).each(modes, function () {
                    debugger;
                    if ($(this).is(":checked")) {
                        modeInputs.push($(this).val())
                    }
                })
                return modeInputs;
            })

            $('.villeId').on('click', function () {
                var modes = $('[name="villes"]');
                $.each(modes, function () {
                    if ($(this).is(":checked")) {
                        villeInputs.push($(this).val())
                    }
                })
                return villeInputs;
            })

            $('.typeId').on('click', function () {
                var modes = $('[name="types"]');
                $.each(modes, function () {
                    if ($(this).is(":checked")) {
                        typeInputs.push($(this).val())
                    }
                })
                return typeInputs;
            })
            */
            debugger
            var modes = get_filter('modeId');
            var types = get_filter('typeId');
            var villes = get_filter('villeId');

            $.ajax({
                url: '/Formations/Filter',
                type: 'GET',
                data: {
                    modeId: modes?.join(','),
                    typeId: types?.join(','),
                    villeId: villes?.join(','),
                },
                success: function (data) {
                    console.log(data)
                    if(data && data.length>0){
                    $("#formation").html('')
                    $.each(data, function (index, option) {

                        $("#formation").append(
                            `
                            <div class="col-3 m-2 p-3" style="background:${option.offreFBgColor};height:9em; border-radius:5px;">
                                <p style="color:${option.offreFColor}; font-size:${option.offreFSize};font-weight:bold;">${option.title}</p>
                            </div>
                        `
                        );
                    });
                    }else{
                    $("#formation").append(
                            `
                                <div class="col-3 m-2 p-3" >
                                  
                                </div>
                            `
                        );
                    }

                }
            });
        }




        function get_filter(class_name) {
            var filter = [];
            $('.' + class_name + ':checked').each(function () {
                filter.push($(this).val());
            });
            return filter;
        }

  




</script>