
@{
    Layout = "_LayoutDashboard";
}

<div class="d-flex flex-wrap justify-content-center" style="gap:20px;">

    <div class="w-25 border border-1 shadow p-4 text-center">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Menus" asp-action="Index">
            <img src="~/img/menu.png" style="width:3.5em;" /><br />
            <h3>Menu</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Headers" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Header</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Abouts" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>A propos</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Menus" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Offres</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Menus" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Contact</h3>
        </a>
    </div>
</div>

