
@{
    Layout = "_LayoutDashboard";
}

<div class="d-flex flex-wrap justify-content-center dashboard" style="gap:20px;">

    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Menus" asp-action="Index">
            <img src="~/img/menu.png" style="width:3.5em;" /><br />
            <h3>Menu</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Headers" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Header</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Abouts" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>A propos</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Offres" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Offres</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="SectionThemes" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Thematics</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Slides" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Nos references</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Statistics" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Statistiques Section</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="StaticNums" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Statistiques Numbers</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Statistics" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Contact</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Footers" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>Footer</h3>
        </a>
    </div>
    <div class="w-25 border border-1 shadow p-4 text-center dashboard-item">
        <a class="pt-2 text-decoration-none text-dark" asp-controller="Sections" asp-action="Index">
            <img src="~/img/doc.png" style="width:2.5em;" /><br />
            <h3>+Add Section</h3>
        </a>
    </div>
</div>

