body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  font-family: "Roboto" sans-serif;
}
/*///////////////////SideBar*/



/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/

.navcontact {
  background-color: black;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ededed;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #ededed;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #ededed;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #ededed;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #ededed;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}
/*///////////////////END SideBar*/
}
/*/ //////////////////Header*/
.ok {
  margin: auto;
  padding: 2em;
  background: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
}
.Header {
  background: no-repeat;
  background-size: cover;
  max-width: 100%;
}
.Header-Content {
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  .Header {
    width: 100vw;
  }
  .header-content {
    margin: auto;
    text-align: center;
    width: 100%;
  }
}

.descFormation {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btn-type {
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 1em;
  border-radius: 45px;
}

.btn-type:focus {
  border-bottom: 2px solid red !important;
  border-width: 2em;
}

.cardOffre-title {
  font-size: 1vw;
}
.cardOffre-button {
  padding: 0.2em 1em;
}
@media only screen and (max-width: 600px) {
  .about-title {
    font-size: 2em;
  }
  .btn-type {
    font-size: 0.7em;
  }
  .cardOffre-title {
    font-size: 15px !important;
  }
  .cardOffre-button {
    padding: 0.2em;
  }
}

@media only screen and (max-width: 1300px) {
  .aboutSplit {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
  }
  .about-content {
    font-size: 10px;
  }
  .aboutImg {
    width: 60%;
    height: 50%;
  }
  .aboutvideo {
    width: 70%;
    height: 35vw;
  }
}
/* /////////////////Navbar */

.nav-logo {
  float: left;
  display: block;
  padding: 20px 0px 20px 20px;
  font-weight: 600;
}
.nav-logo a {
  color: #f9f9f9;
}

.nav-items {
  float: right;
  padding-top: 1.3em;
}

.nav-items li {
  display: block;
  float: left;
}
.nav-items li a {
  color: #f9f9f9;
  text-decoration: none;
}
.nav-items li a:hover {
  color: black !important;
}

.nav-hold {
  overflow: hidden;
}
.nav-menu {
  display: none;
}
/*media Queries*/
@media screen and (max-width: 1600px) {
  .nav-items li a {
    font-size: 1.3vw !important;
  }
}
/*@media screen and (max-width : 1000px) {
    .nav-menu {
        display: block;
        position: absolute;
        right: 0;
        padding: 10px 20px;
        cursor: pointer;
        color: #fff;
    }
}*/
@media screen and (max-width: 1400px) {
  .nav-menu {
    display: block;
    position: absolute;
    right: 0;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
  }
  .nav-items {
    width: 100%;
    text-align: center;
    height: 0px;
    padding: 0px;
    margin: 0px;
  }
  .nav-items li {
    width: 100%;
    display: block;
  }
}
.nav-open {
  height: auto;
}

/* /////////Contact */

.contact .info {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: black;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: black;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: black;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 26px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  margin-bottom: 18px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.textereasize {
  height: 90px !important;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: black;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form button[type="submit"] {
  background: black;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #209dd8;
}
@media only screen and (max-width: 1000px) {
  .maps {
    height: 40%;
  }
}

.formation {
  box-shadow: 1px 4px 10px 2px #e8e4e5;
  border: #e8e4e5 1px solid;
}
.descFormation {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.inscription {
  text-decoration: none;
  margin-top: 1em;
  background: #ce0033;
  border: 0;
  padding: 0.5vh 1.5vw 0.5vh 1.5vw;
  color: #fff;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}

.inscription:hover {
  text-decoration: none;
  border: 2px solid #ce0033;
  background: transparent;
  color: black;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}
.container {
  max-width: 97%;
}

/*.btn-type {
    cursor:pointer;
}
.btn-type:focus {
    border: 2px solid red !important;
    border: 2em;
    background:yellow;
}*/

@media screen and (max-width: 850px) {
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

#top {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  /*transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;*/
  visibility: hidden;
  z-index: 1000;
  padding: 0 !important;
}

#top:hover {
  cursor: pointer;
}

#top.show {
  opacity: 1;
  visibility: visible;
  padding: 2px !important;
}
.bg-cover {
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
/* .yeld {
  position: relative;
  top: 9.1vh;
} */
@media only screen and (max-width: 1400px) {
  .bg-cover {
    background-size: cover !important;
    width: 100vw !important;
    height: 70vh !important;
  }
  .newsletterInsc {
    width: 40% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .bg-cover {
    background-size: cover !important;
    width: 100vw !important;
    height: 50vh !important;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .bg-cover {
    background-size: cover !important;
    width: 100% !important;
    height: 40vh !important;
    text-align: center;
  }
}
.buttonHeader {
  position: relative;
}
.buttonHeader button {
  padding: 0.1em 1em 0.1em 1em;
}
@media only screen and (max-width: 1000px) {
  .buttonHeader {
    margin: 0 auto !important;
    left: 0 !important;
    width: 100%;
  }
  .buttonHeader button {
    width: 40%;
    left: 16%;
    text-align: center !important;
    padding: 7px !important;
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 600px) {
  .buttonHeader {
    margin: 0 auto !important;
    left: 0 !important;
    width: 50%;
  }
  .buttonHeader button {
    width: 40%;
    left: 0%;
    text-align: center !important;
    padding: 0px !important;
    font-size: 16px !important;
  }
  .content {
    position: relative;
    top: -2em;
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .inscriptionPage {
    display: flex;
    flex-direction: column;
  }
  .inscriptionPage-content {
    margin: auto;
    width: 100% !important;
  }
  .inscriptionPage-form {
    margin: auto;
    width: 100% !important;
  }
  .newsletterInsc {
    width: 75% !important;
  }
  /* .yeld {
    position: relative;
    top: 8.1vh;
  } */
}
@media only screen and (max-width: 1400px) {
  .accordion {
    width: 20% !important;
  }
  .accordion card {
    width: 20% !important;
  }
  .itemsFormation {
    margin: 0 auto;
    width: 100%;
  }
  .filtertext {
    font-size: 3vw !important;
  }
  .nFilter {
    font-size: 10px !important;
    padding: 0 2px !important;
  }
  .card-body {
    padding: 0 !important;
  }
  .dashboard-item {
    width: 40% !important;
  }
  .formationPanel {
    display: flex;
    flex-direction: column;
    margin: auto !important;
  }
  .formationPanel-item {
    width: 70% !important;
    margin: auto !important;
  }
  .contact {
    display: flex;
    flex-direction: column !important;
    margin: auto !important;
  }

  .contact-item {
    width: 70% !important;
    margin: auto !important;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin: auto !important;
  }
  .about-item {
    width: 70% !important;
    margin: auto !important;
  }
  .abou-video {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .dashboard {
    /*margin:auto;*/
  }

  .dashboard-item {
    width: 50% !important;
  }
}

.parent {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 20px;
  text-align: center;
}

.div1 {
  grid-area: 1 / 1 / 3 / 6;
}
.descTypes {
  display: block;
  position: relative;
  left: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0em;
  grid-row-gap: 0px;
  text-align: center;
}
.descTypes-div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.descTypes-div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.square1 {
  margin: 1.5em auto;
  height: 10px;
  width: 22vw !important;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  margin-left: 12em !important;
}
.square {
  margin: 1.5em auto;
  height: 10px;
  width: 15vw;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  margin-left: 12em !important;
}
.descTypes-div1_title {
  margin-left: 7em !important;
}
@media only screen and (max-width: 1400px) {
  .descTypes {
    position: relative;
    left: 2vw;
  }
  /*.descTypes-div1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .descTypes-div2 {
        grid-area: 1 / 2 / 2 / 3;
    }*/
}
@media only screen and (max-width: 1100px) {
  .parent {
    width: 82%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  .Titles {
    font-size: 1.5em !important;
  }
  .nav-items li a {
    font-size: 1em !important;
  }
  .descTypes {
    position: relative;
    left: -9vw;
  }
  .navcontact {
    display: flex;
    flex-direction: column !important;
  }
  .itemNvcontact {
    font-size: 11px;
  }
}
#footer {
  position: absolute;
  bottom: 0;
  margin-bottom: -18em !important;
}
@media only screen and (max-width: 900px) {
  .descTypes {
    position: relative;
    left: -23vw;
  }
  /*.descTypes-div1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .descTypes-div2 {
        grid-area: 1 / 2 / 2 / 3;
    }*/
  .contentSlide {
    font-size: 2em !important;
    padding: 0 !important;
  }
  #slide {
    width: 100% !important;
  }
  .tslide {
    margin: 0 !important;
  }
  #footer {
    position: absolute !important;
    bottom: 0 !important;
    margin-bottom: -21em !important;
  }
  .nav-logo a img {
    width: 6em !important;
  }
  .formationPage {
    padding: 0 !important;
    height: 7em !important;
  }
  .formation {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .formation-1 {
    margin: 0 6vw;
    width: 75% !important;
    border-bottom: 1px gray solid;
  }
}
@media only screen and (max-width: 700px) {
  #types {
    display: flex;
    flex-direction: column;
  }
  .div1 {
    width: 100% !important;
    margin: 0.5em auto !important;
  }
  .descTypes {
    display: none !important;
  }
  .parent {
    width: 82%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  .itemNvcontact {
    font-size: 9px;
  }
}
@media only screen and (max-width: 850px) {
  #footer {
    position: absolute !important;
    bottom: 0 !important;
    margin-bottom: -35em !important;
  }
}
.three {
  /* background: #dddddd; */
  padding: 2vw 3vw 2vw 3vw;
  width: 100%;
}
.numstyle {
  font-size: 2.8vw;
  text-align: center;
  font-weight: bold;
  color: #4d04c4;
  font-family: "Nunito black" sans-serif;
}
.descrstyle {
  font-weight: bold;
  color: black;
  font-size: 1.2vw;
  text-align: center;
  font-family: "Nunito black" sans-serif;
}
.itemNum {
  /* background: white; */
  /* width: 18%; */
  border-radius: 7px;
}

.btnThem {
  margin-top: 5em;
  border: 1px solid #ddd;
  color: white;
}
.btnThem:hover {
  background: #ddd;
  border: none;
}
